h2 {
    color: #b8dbd9;
}

#texto {
    color: #edfbc1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 80px;
    ;

    
}

body {
    background-color: #383961;
}

ul, li, a{
    color: #F4F4F9
}

p {
    color: #F5D3C8
}

#outraCor {
    color: #edfbc1
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

strong {
    color: #CFEE9E;
}

.link {
    padding: 2%;
    background-color: #5454a1;
    text-align: center;   
}
.comunicação {
    font-size: 25px;
}
.resiliência {
    font-size: 24px;
}
.ambição {
    font-size: 23px;
}
.carisma {
    font-size: 22px;
}
.aptidão {
    font-size: 21px;
}
.adaptabilidade {
    font-size: 26px;
}
.integridade {
    font-size: 27px;
}
.tamanho {
    font-size: 30px;
}
.nome {
    text-align: center;
}
#fotoPedro {
    padding: 15px;
    border-radius: 200%;
    background-color: black;
    float: left;
    height: 250px;
    width: 180px;
    margin: 15px 15px 15px;
    top: 100px;
}

.image-container {
    height: 300px;
}

.cores-pares li:nth-last-child(odd) {
    background-color: #5454a1;
}
